<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" integrity="sha512-0SPWAwpC/17yYyZ/4HSllgaK7/gg9OlVozq8K7rf3J8LvCjYEEIfzzpnA2/SSjpGIunCSD18r3UhvDcu/xncWA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/rules.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  </head>
  <body>
    <script>
      var userLoggedIn = '';
      var profileUser = '';
      var selectedTab = "replies";
      $(document).ready(() => {
      
        $.get('/payload', (data) => {
          Object.entries(data).forEach(([key, value])=> {
              if (key === "userLoggedIn") {userLoggedIn = value; profileUser = value};
          });
          updatePageContent(userLoggedIn);
        });
      });
      
      var profileUserId = profileUser._id;
      
      $(document).ready(() => {
      
          if(selectedTab === "replies")
          {
              loadReplies();
          }
          else
          {
              loadPosts();
          }
      });
      
      function loadPosts()
      {
          $.get("/api/posts", { postedBy: profileUserId, pinned: true }, results => {
              outputPinnedPost(results, $("#pinnedPostContainer"));
          })
      
          $.get("/api/posts", { postedBy: profileUserId, isReply: false }, results => {
              outputPosts(results, $("#postsContainer"));
          })
      }
      
      function loadReplies()
      {
          $.get("/api/posts", { postedBy: profileUserId, isReply: true }, results => {
              outputPosts(results, $("#postsContainer"));
          })
      }
      
      
      $(document).ready(() => {
          $.get("/api/posts/" + postId, results => {
              outputPostsWithReplies(results, $("#postsContainer"));
          })
      })
      
      
      
      function updatePageContent(userLoggedInData) {
      
      if (!profileUser) {
        var errorMessage = document.createElement('span');
        errorMessage.className = 'errorMessage';
        errorMessage.textContent = 'Check the URL you are trying to access';
        document.body.appendChild(errorMessage);
      }   
      }
    </script>
    <section class="wrapper">
      <div class="row">
        <nav class="col-2" style="width: 100%; display: flex; flex-direction: row; ">
          <a class="goat" href="/"><i class="fas fa-cow"></i></a>
          <a href="/"><i class="fas fa-home"></i></a>
          <a href="/notifications"><i class="fas fa-bell"></i><span id="notificationsBadge"></span></a>
          <a href="/profile"><i class="fas fa-user"></i></a>
          <a href="/logout"><i class="fas fa-sign-out-alt"></i></a>
      </nav>
      <div class="mainSectionContainer col-10 col-md-8 col-lg-6">
        <div id="titleContainer">
          <div class="headerButton"></div>
        </div>
      <div class="content">
        <div id="postsContainer"></div>
        <!-- Reply Modal -->
        <div id="replyModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel" aria-hidden="true" hidden>
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 id="replyModalLabel" class="modal-title">Reply</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- <div id="originalPostContainer"></div> -->
                <div class="postFormContainer">
                  <div class="textareaContainer">
                    <textarea id="replyTextarea" placeholder="Reply"></textarea>
                    <div class="buttonsContainer">
                      <button id="submitReplyButton" class="btn btn-primary" type="button" disabled="">Reply</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Delete Post Modal -->
        <div id="deletePostModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deletePostModalLabel" aria-hidden="true" hidden>
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 id="deletePostModalLabel" class="modal-title">Delete the post?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>You won't be able to delete this.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="deletePostButton" class="btn btn-primary" type="button">Delete</button>
              </div>
            </div>
          </div>
        </div>
        <div style="display:none; visibility:hidden;" class="col-md-2 col-lg-4"></div>
      </div>
    </section>
    <div id="notificationList"> </div>
    <script src="https://kit.fontawesome.com/85404227e2.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js" integrity="sha512-ooSWpxJsiXe6t4+PPjCgYmVfr1NS5QXJACcR/FPpsdm6kqG1FmQ2SVyg2RXeVuCRBLr0lWHnWJP6Zs1Efvxzww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/clientSocket.js"></script>
  </body>
</html>